*{
    background: linear-gradient(yellow,red);
}

table,tr,th{
    border: 2px solid black;
    border-collapse: collapse;
}
th{
    width: 400px;
    padding: 25px;
}

.one{
    background-color: rgb(181, 151, 209);
}

.two{
    background-color:rgb(177, 231, 177);
}
.three{
    background-color: lightblue;
}

.four{
    background-color:rgb(218, 173, 156);
}

.five{
    background-color: rgb(218, 169, 169);
}

.six{
    background-color: rgb(178, 216, 203);
}